{{#partial "content"}}

    <p>Name: {{ hero.name }}</p>
    <p>Age: {{ hero.age }}</p>
    <p>Special Power: {{ hero.specialPower }}</p>
    <p>Weakness: {{ hero.weakness }}</p>
    <p>Squad: {{ squad.name }}</p>

    <p>
        <a href="/heroes/{{hero.id}}/edit">Edit hero details</a><br>
        <a href="/squads/{{hero.categoryId}}/heroes/{{hero.id}}/delete">DELETE HERO</a>
    </p>

{{/partial}}

{{> layout.hbs}}