{{#partial "content"}}
    <h1>SQUAD: {{squad.name}}</h1>
    <p>Squad Members:</p>
        {{#each heroes}}
                <p><a href="/squads/{{squad.id}}/heroes/{{id}}">{{name}}</a></p>
        {{/each}}
    <a href="/squads/{{squad.id}}/edit">Edit this squad</a><br>
    <a href="/squads/{{squad.id}}/delete">DELETE this squad</a>
{{/partial}}

{{> layout.hbs}}