{{#partial "content"}}
    <h1>SQUAD: {{squad.name}}</h1>
    <p>Squad Members:</p>
        {{#each heroes}}
                <a class="link font-weight-bold" href="/squads/{{squad.id}}/heroes/{{id}}">{{name}}</a><br>
        {{/each}}

    <br><br>
    <a class="btn btn-outline-primary" href="/squads/{{squad.id}}/edit">EDIT SQUAD NAME</a>
    <a class="btn btn-outline-danger" href="/squads/{{squad.id}}/delete">DELETE SQUAD</a>
    <p>To add/remove members form squad , click on a hero and change squad they belong to or otherwise delete the hero</p>
{{/partial}}

{{> layout.hbs}}